@model SubCategoryVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <form action="/Admin/SubCategory/Edit" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" value="@Model.SubCategory.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" name="Description" value="@Model.SubCategory.Description" class="form-control" />
            </div>

            <div class="form-group">
                <label for="CategoryID">Choose Parent Category</label>
                <select name="CategoryID" class="form-control">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <input style="visibility:hidden" type="text" name="Id" value="@Model.SubCategory.Id" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </form>

        <div>
            @Html.ActionLink("Back to List", "List")
        </div>
    </div>
</div>

