@model List<NTier.Model.Entities.SubCategory>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Parent Category
        </th>
        
        <th colspan="2">Update / Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
           @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Category.Name
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
